<!-- <div class="landing">
        <a routerLink="/dashboard">Go to dashboard</a>
        <a routerLink="/auth/login">Login</a>
        <a routerLink="/auth/signup">Signup</a> 
</div> -->

<!-- <img id="id02" src="/assets/images/download.jpeg"> -->
<!-- <img id="id02" src="https://picsum.photos/200/300"> -->

<div class="landing">

        <ul>
                <li><a routerLink="/dashboard">Go to dashboard</a></li>
                <li><a routerLink="/auth/signup">Signup</a></li>
                <li><a routerLink="/auth/login">Login</a></li>
        </ul>

</div>